HUGGING_KEY="your_huggingface_key_here"
TENANT_ID="your_tenant_id_here"
CLIENT_ID="your_client_id_here"
CLIENT_SECRET="your_client_secret_here"
DEEPL_API_KEY="your_deepl_api_key_here"
ACCOUNT = "your_account_email_here"
GOOGLE_API_KEY="your_google_api_key_here"